body{
    margin: 0;
}
header{
    background: #003638;
    height: 100px;
    width: 100%;
}
nav{
    background:#53B8BB ;
    height: 100px;
    width: 100px;
    float:right;
    transition: 0.9s;
}
nav:hover{
    background: #3a4f92;
}
nav img{
    height: 30px;
    width: 30px;
    margin-left: 35px;
    margin-top: 35px;
}
img{
    height: 100px;
    float: left;
}
