body,html{
margin: 0;
height: 100%;
}
header{
    background: black;
    height: 100px;
    width: 100%;
}
header:hover{
    height: 100%;
    background-color: darkmagenta;
    transition: 4S;
}
nav{
    background: orange;
    height: 100px;
    width: 100px;
    float:right;
    transition: 0.9s;
}
nav:hover{
    background: orangered;
}
nav img{
    height: 30px;
    width: 30px;
    margin-left: 35px;
    margin-top: 35px;
}
img{
    height: 100px;
    float: left;
}
header ul{
    display: inline-block;
}
header ul li{
    display: inline-block;
    margin-top: 20px;
}
header ul li a{
    color:white;
    text-decoration: none;
    font-size: 25px;
    margin-right: 50px;
    transition: color 0.5s;
}
header ul li a:hover{
    color: orange;
}